@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-background: rgb(255, 255, 255);
    --c-foreground: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-background: rgb(255, 255, 255);
        --c-foreground: rgb(0, 0, 0);
    }
}

body {
    box-sizing: border-box;
    color: var(--c-foreground);
    background: var(--c-background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
